{:paths
 ["src"]

 :deps
 {org.clojure/core.async {:mvn/version "0.4.474"}
  funcool/cats {:mvn/version "2.1.0"}
  honeysql {:mvn/version "0.9.1"}
  org.clojure/core.incubator {:mvn/version "0.1.4"}}

 :aliases
 {:dev {:extra-deps {cider/cider-nrepl {:mvn/version "0.18.0"}}}
  :test {:extra-deps {pjstadig/humane-test-output {:mvn/version "0.8.3"}}
         :extra-paths ["test"]}}}
